#about {

    .about-media,
    .about-content {
        width: 100%;
        height: 100%;
    }

    .about-media {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);

        .about-img {
            background: url('../img/about-img.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            width: 300px;
            height: 400px;
            box-shadow: 0px 5px 20px 0px rgba(218, 162, 39, 0.3);
        }
    }

    .about-content {
        position: relative;

        h1,
        h2,
        p,
            {
            text-align: center;
        }

        span {
            font-weight: 600;
        }

        h1 {
            padding-top: 3%;
        }

        p {
            padding: 1% 20% 2% 20%;
        }

        .about-skills {
            @include flexbox();
            @include flex-wrap(wrap);
            @include flex-direction(row);
            @include justify-content(center);
            position: relative;

            .about-skils-header {
                display: block;
                width: 100%;
                padding: 0 0 4% 0;
                text-align: center;

                h2 {
                    display: inline-block;
                }

                h2::after {
                    content: '';
                    display: block;
                    width: 110%;
                    height: 20px;
                    margin-top: -15px;
                    margin-left: -4px;
                    background: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
                }
            }

            svg {
                width: 45px;
                height: 45px;
                margin: 0 12px;
            }
        }
    }
}

/**
 * ----------------------------------------
 * Small devices media query
 * ----------------------------------------
 */
@include mediaSm {
    #about {
        .about-media {
            .about-img {
                height: 400px;
                background-size: contain;
            }
        }

        .about-content {
            padding-top: 15%;

            p {
                padding: 1% 5% 2% 5%;
            }

            .about-skills {
                margin-top: 12%;
                text-align: center;

                .about-skils-header {
                    .rec {
                        height: 14px;
                        top: 11px;
                        left: -40px;
                    }
                }

                svg {
                    height: 70px;
                }
            }
        }
    }
}