#contact {
    width: 100%;

    .contact-header,
    .contact-form {
        flex: 1;
    }

    .contact-header {
        position: relative;

        .rec {
            background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
            width: 100%;
            height: 149px;
            top: -31px;
            left: -10px;
        }

        p {
            padding-top: 15%;
        }
    }

    .contact-form {
        padding-left: 5%;

        form {

            input,
            textarea {
                background: #FFFFFF;
                @include box-shadow(0px 5px 20px 0px rgba(67, 76, 172, 0.3));
                width: 80%;
                padding: 2% 4%;
                display: block;
                font-weight: 200;
                letter-spacing: 1px;
            }

            textarea {
                overflow: hidden;
                resize: none;
            }

            label {
                display: block;
                font-weight: 900;
                text-transform: uppercase;
            }

            input {
                overflow: visible;
                height: 40px;
                margin-bottom: 3%;
            }

            #contact-msg {
                @include font-size(14px);
                font-weight: 900;
                padding-top: 12px;
            }

            .error {
                color: red;
            }

            .success {
                color: green;
            }

            .button-container {
                width: 80%;

                button {
                    @include font-size(18px);
                    float: right;
                    color: white;
                    background: blue;
                    padding: 10px 32px;
                    margin-top: 6%;
                    text-transform: uppercase;
                    @include transition(all ease-out 0.4s);

                    &:hover,
                    &:focus {
                        @include box-shadow(0px 5px 20px 0px rgba(67, 76, 172, 0.9));
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

/**
 * ----------------------------------------
 * Small Screen sizes
 * ----------------------------------------
 */
@include mediaSm {
    #contact {
        .contact-header {
            .rec {
                width: 300px;
            }

            p {
                padding-top: 25%;
            }
        }

        .contact-form {
            padding-left: 0;

            form {

                input,
                textarea {
                    width: 100%;
                }

                .button-container {
                    width: 100%;
                }
            }
        }
    }
}