// menu button
.menu-btn {
    position: absolute;
    right: 35px;
    top: 35px;
    width: 28px;
    z-index: 3;
    cursor: pointer;
    @include easeOut;
    .btn-line {
        display: block;
        background: #000;
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        transition: all ease-out 0.5s;
    }
    &.close {
        transform: rotate(180deg);
        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            } // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            } // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Menu Overlay
.menu {
    position: fixed;
    width: 100%;
    top: 0;
    visibility: hidden;
    &.show {
        visibility: visible;
    }
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        float: left;
        overflow: hidden;
    }
    &-nav {
        margin: 0;
        padding: 0;
        background: #FFF;
        transform: translate3d(0, -100%, 0);
        @include easeOut;
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    &-branding {
        margin: 0;
        padding: 0;
        background: #f2f2f2;
        transform: translate3d(0, 100%, 0);
        @include easeOut;
        &.show {
            //slide in from top
            transform: translate3d(0, 0, 0);
        }
    }
    &-contact {
        li {
            font-size: 1rem;
            font-weight: 700;
            color: $primary-color;
            &:nth-child(1) {
                font-size: 2rem;
                color: $secondary-color;
            }
        }
    }
    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        &.show {
            //slide in from right
            transform: translate3d(0, 0, 0);
        }
        &.current > a { 
            color: $secondary-color;
        }
    }
    .nav-link {
        display: inline-block;
        color: #4f535f;
        font-size: 2.5rem;
        font-weight: 800;
        cursor: pointer;
        @include easeOut;
        &:hover {
            color: $secondary-color;
        }
    }
}

//delay each nav item by 0.1sec
@for $i from 1 through 4 {
    .nav-item:nth-child(#{$i}) {
        transition-delay: $i * 0.1s;
    }
}