nav {
    position: relative;
    line-height: 50px;
    width: 100%;

    .nav-brand {
        font-weight: 500;
        color: $main-black;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;

        &::before {
            content: '';
            display: inline-block;
            width: 4px;
            height: 13px;
            background: $main-blue;
        }
    }

    .nav-right {
        position: absolute;
        top: 0;
        right: 0;

        a {
            color: $main-blue;

            img {
                vertical-align: text-bottom;
            }
        }
    }
}

@include mediaSm {
    nav {
        .nav-brand {
            margin-left: 4%;
        }
        .nav-right {
            margin-right: 4%;
        }
    }
}