#work {

    .header-container {
        width: 100%;
        position: relative;
        text-align: right;
        margin-bottom: 50px;
        margin-right: 15%;

        h1 {
            display: inline-block;

            &::after {
                content: '';
                background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
                width: 306px;
                height: 64px;
                display: block;
                margin-top: -47px;
                margin-left: 5px;
            }
        }
    }

    .work-portfolio-container {
        width: 100%;
        height: 100%;
        @include flexbox();
        @include justify-content(flex-start);
        @include align-items(center);
        @include flex-wrap(wrap);
        @include flex-direction(row);
 
        .item {
            width: 100%;
            min-height: 400px;
            @include grid();
            grid-template-columns: 40% 1fr;
            grid-template-areas: "content image";
            grid-gap: 0;
            padding-top: 5%;

            &-image {
                grid-area: image;
                display: inline-block;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                @include box-shadow(0px 5px 20px 0px rgba(67, 76, 172, 0.3));
            }

            &-content {
                grid-area: content;
                width: 100%;
                height: 100%;
                @include flexbox();
                @include flex-direction(column);
                @include flex-wrap(wrap);
                position: relative;
                padding-top: 10%;
                padding-right: 3%;

                .item-content-header {
                    margin-bottom: 6%;
                }
                .item-content-text {
                    @include font-size(14px);
                }
                .item-content-subtext {
                    @include font-size(12px);
                }

                .item-content-buttons {

                    a {
                        color: #000;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .rec {
                        width: 78px;
                        height: 8px;
                        margin-top: -10px;
                        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
                    }

                    &:hover {
                        cursor: pointer;

                        .rec {
                            background-image: linear-gradient(to top, darken(#a18cd1, 10) 0%, darken(#fbc2eb, 10) 100%);
                        }
                    }
                }
            }
        }
    }
}

/**
 * ----------------------------------------
 * Medium devices media query
 * ----------------------------------------
 */



/**
 * ----------------------------------------
 * Small devices media query
 * ----------------------------------------
 */
@include mediaSm {
    #work {
        .work-portfolio-container {
            .item {
                height: 500px;
                grid-template-columns: 1fr;
                grid-template-areas: "image""content";
                grid-auto-rows: 1fr 1fr;
                grid-gap: 0;
            }

            .item-content {
                padding-left: 0;
                padding-top: 0;
            }

            .item-image {
                height: 200px;
            }
        }

        .header-container {
            .rec {
                height: 31px;
                top: 34px;
                right: 16px;
            }
        }
    }
}