/*
*   Calculate rem and set
*   font size.
*/
/*
*   Box Shadow
*/
/*
*   Transform
*  
*/
/*
*   Transisiton
*  
*/
/*
*   Animations
*  
*/
nav {
  position: relative;
  line-height: 50px;
  width: 100%; }
  nav .nav-brand {
    font-weight: 500;
    color: #1F202B;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
    nav .nav-brand::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 13px;
      background: #5952FF; }
  nav .nav-right {
    position: absolute;
    top: 0;
    right: 0;
    color: #5952FF;
    cursor: pointer; }
    nav .nav-right img {
      vertical-align: text-bottom; }

@media screen and (max-width: 39.9375em) {
  nav .nav-brand {
    margin-left: 4%; }
  nav .nav-right {
    margin-right: 4%; } }

#landing {
  margin-top: 100px; }
  #landing .landing-header,
  #landing .landing-boxes {
    flex: 1; }
  #landing .landing-header {
    position: relative;
    margin-top: 5%; }
    #landing .landing-header h1,
    #landing .landing-header .rec-large {
      -webkit-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      -moz-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      -ms-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      -o-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
    #landing .landing-header h1 {
      color: #FFFFFF;
      font-size: 48px;
      font-size: 3rem;
      margin: 12% 0 0 10%;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
    #landing .landing-header .rec-large {
      background-image: url("../img/codingvideo.gif");
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
      width: 700px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
  #landing .landing-boxes .skills {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 7%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    padding-left: 32%; }
    #landing .landing-boxes .skills .skill-box {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      background-color: white;
      margin: 15px 0;
      text-align: center;
      width: 340px;
      height: 120px;
      line-height: 120px;
      -webkit-box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3);
      -moz-box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3);
      box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3); }

/**
 * ----------------------------------------
 * Medium Only Screen sizes
 * ----------------------------------------
 */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #landing .landing-header,
  #landing .landing-boxes {
    width: 50%; }
  #landing .landing-header h1 {
    font-size: 42px;
    font-size: 2.625rem;
    margin: 9% 48% 0 10%;
    padding: 0 65% 0 0; }
  #landing .landing-header .rec-large {
    height: 500px;
    width: 429px; }
  #landing .landing-boxes {
    padding-top: 0; }
    #landing .landing-boxes .skills {
      padding-left: 17%; }
      #landing .landing-boxes .skills .skill-box {
        width: 300px; } }

/**
 * ----------------------------------------
 * Small Screen sizes
 * ----------------------------------------
 */
@media screen and (max-width: 39.9375em) {
  #landing .landing-header h1 {
    font-size: 42px;
    font-size: 2.625rem;
    margin: 12% 0 0 4%; }
  #landing .landing-header .rec-large {
    width: 100%; }
  #landing .landing-boxes {
    padding-top: 26%; }
    #landing .landing-boxes .skills {
      margin-top: 0;
      padding-left: 0;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; } }

.skill-box:nth-child(1) {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -ms-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -o-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.skill-box:nth-child(2) {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -ms-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -o-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.skill-box:nth-child(3) {
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -ms-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -o-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.skill-box:nth-child(4) {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -ms-animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -o-animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-moz-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-ms-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-o-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@-moz-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@-ms-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@-o-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-moz-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-ms-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-o-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

#about .about-media,
#about .about-content {
  width: 100%;
  height: 100%; }

#about .about-media {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  #about .about-media .about-img {
    background: url("../img/about-img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 300px;
    height: 400px;
    box-shadow: 0px 5px 20px 0px rgba(218, 162, 39, 0.3); }

#about .about-content {
  position: relative; }
  #about .about-content h1,
  #about .about-content h2,
  #about .about-content p {
    text-align: center; }
  #about .about-content span {
    font-weight: 600; }
  #about .about-content h1 {
    padding-top: 3%; }
  #about .about-content p {
    padding: 1% 20% 2% 20%; }
  #about .about-content .about-skills {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    position: relative;
    padding: 0 20%; }
    #about .about-content .about-skills .about-skils-header {
      display: block;
      width: 100%;
      padding: 0 0 4% 0;
      text-align: center; }
      #about .about-content .about-skills .about-skils-header h2 {
        display: inline-block; }
      #about .about-content .about-skills .about-skils-header h2::after {
        content: '';
        display: block;
        width: 110%;
        height: 20px;
        margin-top: -15px;
        margin-left: -4px;
        background: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%); }
    #about .about-content .about-skills svg {
      width: 45px;
      height: 45px;
      margin: 0 12px;
      margin-top: 2%; }

/**
 * ----------------------------------------
 * Small devices media query
 * ----------------------------------------
 */
@media screen and (max-width: 39.9375em) {
  #about .about-media .about-img {
    height: 400px;
    background-size: contain; }
  #about .about-content {
    padding-top: 15%; }
    #about .about-content p {
      padding: 1% 5% 2% 5%; }
    #about .about-content .about-skills {
      margin-top: 12%;
      text-align: center; }
      #about .about-content .about-skills .about-skils-header .rec {
        height: 14px;
        top: 11px;
        left: -40px; }
      #about .about-content .about-skills svg {
        height: 70px; } }

#work .header-container {
  width: 100%;
  position: relative;
  text-align: right;
  margin-bottom: 50px;
  margin-right: 15%; }
  #work .header-container h1 {
    display: inline-block; }
    #work .header-container h1::after {
      content: '';
      background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
      width: 306px;
      height: 64px;
      display: block;
      margin-top: -47px;
      margin-left: 5px; }

#work .work-portfolio-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  #work .work-portfolio-container .item {
    width: 100%;
    min-height: 400px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-areas: "content image";
    grid-gap: 0;
    padding-top: 5%; }
    #work .work-portfolio-container .item-image {
      grid-area: image;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      -webkit-box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3);
      -moz-box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3);
      box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3); }
    #work .work-portfolio-container .item-content {
      grid-area: content;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      padding-top: 10%;
      padding-right: 3%; }
      #work .work-portfolio-container .item-content .item-content-header {
        margin-bottom: 6%; }
      #work .work-portfolio-container .item-content .item-content-text {
        font-size: 14px;
        font-size: 0.875rem; }
      #work .work-portfolio-container .item-content .item-content-subtext {
        font-size: 12px;
        font-size: 0.75rem; }
      #work .work-portfolio-container .item-content .item-content-buttons a {
        color: #000; }
        #work .work-portfolio-container .item-content .item-content-buttons a:hover {
          text-decoration: none; }
      #work .work-portfolio-container .item-content .item-content-buttons .rec {
        width: 78px;
        height: 8px;
        margin-top: -10px;
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); }
      #work .work-portfolio-container .item-content .item-content-buttons:hover {
        cursor: pointer; }
        #work .work-portfolio-container .item-content .item-content-buttons:hover .rec {
          background-image: linear-gradient(to top, #8368c2 0%, #f892db 100%); }

/**
 * ----------------------------------------
 * Medium devices media query
 * ----------------------------------------
 */
/**
 * ----------------------------------------
 * Small devices media query
 * ----------------------------------------
 */
@media screen and (max-width: 39.9375em) {
  #work .work-portfolio-container .item {
    height: 500px;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "content";
    grid-auto-rows: 1fr 1fr;
    grid-gap: 0; }
  #work .work-portfolio-container .item-content {
    padding-left: 0;
    padding-top: 0; }
  #work .work-portfolio-container .item-image {
    height: 200px; }
  #work .header-container .rec {
    height: 31px;
    top: 34px;
    right: 16px; } }

#contact {
  width: 100%; }
  #contact .contact-header,
  #contact .contact-form {
    flex: 1; }
  #contact .contact-header {
    position: relative; }
    #contact .contact-header .rec {
      background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
      width: 100%;
      height: 149px;
      top: -31px;
      left: -10px; }
    #contact .contact-header p {
      padding-top: 15%; }
  #contact .contact-form {
    padding-left: 5%; }
    #contact .contact-form form input,
    #contact .contact-form form textarea {
      background: #FFFFFF;
      -webkit-box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3);
      -moz-box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3);
      box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3);
      width: 80%;
      padding: 2% 4%;
      display: block;
      font-weight: 200;
      letter-spacing: 1px; }
    #contact .contact-form form textarea {
      overflow: hidden;
      resize: none; }
    #contact .contact-form form label {
      display: block;
      font-weight: 900;
      text-transform: uppercase; }
    #contact .contact-form form input {
      overflow: visible;
      height: 40px;
      margin-bottom: 3%; }
    #contact .contact-form form #contact-msg {
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 900;
      padding-top: 12px; }
    #contact .contact-form form .error {
      color: red; }
    #contact .contact-form form .success {
      color: green; }
    #contact .contact-form form .button-container {
      width: 80%; }
      #contact .contact-form form .button-container button {
        font-size: 18px;
        font-size: 1.125rem;
        float: right;
        color: white;
        background: blue;
        padding: 10px 32px;
        margin-top: 6%;
        text-transform: uppercase;
        -moz-transition: all ease-out 0.4s;
        -o-transition: all ease-out 0.4s;
        -ms-transition: all ease-out 0.4s;
        -webkit-transition: all ease-out 0.4s;
        transition: all ease-out 0.4s; }
        #contact .contact-form form .button-container button:hover, #contact .contact-form form .button-container button:focus {
          -webkit-box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.9);
          -moz-box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.9);
          box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.9);
          cursor: pointer; }

/**
 * ----------------------------------------
 * Small Screen sizes
 * ----------------------------------------
 */
@media screen and (max-width: 39.9375em) {
  #contact .contact-header .rec {
    width: 300px; }
  #contact .contact-header p {
    padding-top: 25%; }
  #contact .contact-form {
    padding-left: 0; }
    #contact .contact-form form input,
    #contact .contact-form form textarea {
      width: 100%; }
    #contact .contact-form form .button-container {
      width: 100%; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 100%; }

html {
  font-family: Avenir, sans-serif;
  scroll-behavior: smooth; }

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin-top: 300px; }

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 2px; }

h1 {
  font-size: 39px;
  font-size: 2.4375rem;
  font-weight: 900;
  color: #1F202B; }

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 900;
  color: #1F202B; }

p {
  font-size: 18px;
  font-size: 1.125rem;
  color: #8A8CA5; }

a {
  font-size: 18px;
  font-size: 1.125rem;
  color: #8A8CA5;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

button {
  cursor: pointer;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 10px 32px;
  text-transform: uppercase;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  -ms-transition: all ease-out 0.4s;
  -webkit-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s; }
  button:hover {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3);
    -moz-box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3);
    box-shadow: 0px 5px 20px 0px rgba(67, 76, 172, 0.3); }

.wrapper-content {
  width: 100%;
  margin: 0 auto; }

.white {
  color: white; }

.left,
.right {
  flex: 1;
  position: relative; }

.left {
  margin-top: 130px; }

.r {
  text-align: right; }

.l {
  padding-left: 150px; }

.rec {
  position: absolute;
  z-index: -1; }

.lines {
  display: block;
  width: 1px;
  height: 100vh;
  background-color: #E7E7E8;
  position: fixed;
  top: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -2; }

.right-line-1 {
  -moz-transform: translateX(300px);
  -o-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  transform: translateX(300px); }

.right-line-2 {
  -moz-transform: translateX(600px);
  -o-transform: translateX(600px);
  -ms-transform: translateX(600px);
  -webkit-transform: translateX(600px);
  transform: translateX(600px); }

.right-line-3 {
  -moz-transform: translateX(900px);
  -o-transform: translateX(900px);
  -ms-transform: translateX(900px);
  -webkit-transform: translateX(900px);
  transform: translateX(900px); }

.left-line-1 {
  -moz-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px); }

.left-line-2 {
  -moz-transform: translateX(-600px);
  -o-transform: translateX(-600px);
  -ms-transform: translateX(-600px);
  -webkit-transform: translateX(-600px);
  transform: translateX(-600px); }

@media screen and (max-width: 39.9375em) {
  .right-line-1 {
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }
  .right-line-2 {
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  .right-line-3 {
    -moz-transform: translateX(185px);
    -o-transform: translateX(185px);
    -ms-transform: translateX(185px);
    -webkit-transform: translateX(185px);
    transform: translateX(185px); }
  .left-line-1 {
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  .left-line-2 {
    -moz-transform: translateX(-185px);
    -o-transform: translateX(-185px);
    -ms-transform: translateX(-185px);
    -webkit-transform: translateX(-185px);
    transform: translateX(-185px); }
  .r {
    margin-bottom: 0; }
  .l {
    padding-left: 0; } }

/**
 * ----------------------------------------
 * Small devices media query
 * ----------------------------------------
 */
@media screen and (max-width: 39.9375em) {
  h1 {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 900;
    color: #1F202B; }
  h2 {
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 900;
    color: #1F202B; }
  p {
    font-size: 16px;
    font-size: 1rem;
    color: #8A8CA5; }
  a {
    font-size: 16px;
    font-size: 1rem;
    color: #8A8CA5;
    text-decoration: none; }
  section {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }
